p.speech{
    font-size: medium;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p1.direction{
            color:black;
            background-color:cornsilk;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: small;
          }
p.song{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-indent: 0;
    padding-left: 30%;
    width: 25%;
}
.MERCURY{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color:darkmagenta;
}
.DIANA{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: maroon;
}
.APOLLO{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
}
.JUPITER{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: lightcoral;
}
.MARS{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: chartreuse;
}
.ALL{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
}
.direction:hover{
    background-color: bisque;
    color: red;
}
.DIAandMER{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: green;
}
.DIAandAP{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: slateblue;
}
.name{
    font-size: larger;
    font-weight: bold;
    font-style: sans-serif;
    color: saddlebrown;
}
.table{
    font-family: arial, sans-serif; 
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    color: navy;
}
th{
    border: 2px solid black;
    text-align: center;
    padding: 8px;
    color: maroon;
    background-color: chocolate;
}
tr:nth-child(even) {
    background-color: navajowhite;
  }
h4.ALL:hover{
    text-shadow: 1px 1px 5px blueviolet;
    box-shadow: 2px 2px 2px 2px cadetblue;
    background-color: floralwhite;
}
h4.DIANA:hover{
    text-shadow: 1px 1px 5px blueviolet;
    box-shadow: 2px 2px 2px 2px cadetblue;
    background-color: floralwhite;
}
h4.DIAandMER:hover{
    text-shadow: 1px 1px 5px blueviolet;
    box-shadow: 2px 2px 2px 2px cadetblue;
    background-color: floralwhite;
}
h4.DIAandAP:hover{
    text-shadow: 1px 1px 5px blueviolet;
    box-shadow: 2px 2px 2px 2px cadetblue;
    background-color: floralwhite;
}
h4.APOLLO:hover{
    text-shadow: 1px 1px 5px blueviolet;
    box-shadow: 2px 2px 2px 2px cadetblue;
    background-color: floralwhite;
}
h4.MARS:hover{
    text-shadow: 1px 1px 5px blueviolet;
    box-shadow: 2px 2px 2px 2px cadetblue;
    background-color: floralwhite;
}
h4.MERCURY:hover{
    text-shadow: 1px 1px 5px blueviolet;
    box-shadow: 2px 2px 2px 2px cadetblue;
    background-color: floralwhite;
}
h4.name:hover{
    text-shadow: 1px 1px 5px blueviolet;
    box-shadow: 2px 2px 2px 2px cadetblue;
    background-color: floralwhite;
}
h4.JUPITER:hover{
    text-shadow: 1px 1px 5px blueviolet;
    box-shadow: 2px 2px 2px 2px cadetblue;
    background-color: floralwhite;
}
