p.speech{
    font-size: medium;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: Georgia;
}
p1.direction{
            color:black;
            background-color:cornsilk;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: small;
            font: Serif;
          }
p.song{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-indent: 0;
    padding-left: 30%;
    width: 25%;
    font: Verdana;
}
.MERCURY{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color:darkmagenta;
    font: 'Times New Roman';
}
.DIANA{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: maroon;
    font: 'Times New Roman';
}
.APOLLO{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
    font: 'Times New Roman';
}
.JUPITER{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: lightcoral;
    font: 'Times New Roman';
}
.direction:hover{
    background-color: bisque;
    color: red;
    font: 'Times New Roman';
}
.DIAandMER{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font: 'Times New Roman';
}
.DIAandAP{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: slateblue;
    font: 'Times New Roman';
}
.name{
    font-size: larger;
    font-weight: bold;
    font-style: sans-serif;
    color: saddlebrown;
}
.table{
    font-family: arial, sans-serif; 
    border-collapse: collapse;
    width: 50%;
    font:sans-serif;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    color: navy;
}
th{
    border: 2px solid black;
    text-align: center;
    padding: 8px;
    color: maroon;
    background-color: chocolate;
}
tr:nth-child(even) {
    background-color: navajowhite;
  }
